Language: Cpp

# 模板风格, 大括号、多空行删除、头文件排序
BasedOnStyle: Google

# namespace排序
SortUsingDeclarations: true

# namespace注释自动添加内容, 需要先有//
FixNamespaceComments: true

# namespace缩进
NamespaceIndentation: All

# 缩进
IndentWidth: 4

# 是否使用Tab
UseTab: Never

# 单句是否写成单行, If true, 'if (a) return;' can be put on a single line.
AllowShortIfStatementsOnASingleLine: true

# 宽度限制
ColumnLimit: 120

# 最大空行, 包含于Google模板内
# MaxEmptyLinesToKeep: 1

# 大括号样式, 包含于Google模板内
# BreakBeforeBraces: WebKit

# 注释是否对齐//
AlignTrailingComments: true

# 注释//前空格数, 若注释不关于//对齐
# SpacesBeforeTrailingComments: 2

# 长注释自动换行
ReflowComments: true

# switch换行
AllowShortCaseLabelsOnASingleLine: false

# switch缩进
IndentCaseLabels: false

# 连续赋值关于等号对齐
AlignConsecutiveAssignments: AcrossEmptyLines
